<nav>
  <ul>
    <li> <%= link_to "Home", root_path %> </li>
    <li> <%= link_to "About the club", about_the_club_path %> </li>
    <li> <%= link_to "How to join", how_to_join_path %> </li>
    <li> <%= link_to "What you need", what_you_need_path %> </li>
    <li> <%= link_to "Programme", programme_path %> </li>
    <li> <%= link_to "News letters", news_letters_path %> </li>
    <li> <%= link_to "Club matters", club_matters_path %> </li>
    <li> <%= link_to "How to get there", how_to_get_there_path %> </li>
    <li> <%= link_to "Book a lawn", book_a_lawn_path %> </li>
    <li> <%= link_to "Links to croquet sites", links_to_croquet_sites_path %> </li>
  </ul>
</nav>